<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasco.openhis.mapper.CareOrderMapper">

    <resultMap id="BaseResultMap" type="com.dasco.openhis.domain.CareOrder">
            <id property="coId" column="co_id" jdbcType="VARCHAR"/>
            <result property="coType" column="co_type" jdbcType="CHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="patientId" column="patient_id" jdbcType="VARCHAR"/>
            <result property="patientName" column="patient_name" jdbcType="VARCHAR"/>
            <result property="chId" column="ch_id" jdbcType="VARCHAR"/>
            <result property="allAmount" column="all_amount" jdbcType="DECIMAL"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        co_id,co_type,user_id,
        patient_id,patient_name,ch_id,
        all_amount,create_by,create_time,
        update_by,update_time
    </sql>
</mapper>
