<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasco.openhis.mapper.SchedulingMapper">

    <resultMap id="BaseResultMap" type="com.dasco.openhis.domain.Scheduling">
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
            <result property="schedulingDay" column="scheduling_day" jdbcType="VARCHAR"/>
            <result property="subsectionType" column="subsection_type" jdbcType="CHAR"/>
            <result property="schedulingType" column="scheduling_type" jdbcType="CHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,dept_id,scheduling_day,
        subsection_type,scheduling_type,create_time,
        create_by
    </sql>
    <select id="queryHasSchedulingDeptIds" resultType="java.lang.Long">
            select dept_id from his_scheduling
        <where>
            <if test="deptId != null">
                and dept_id=#{deptId}
            </if>
            <if test="schedulingDay != null">
                and scheduling_day=#{schedulingDay}
            </if>
            <if test="schedulingType != null">
                and scheduling_type=#{schedulingType}
            </if>
            <if test="subsectionType != null">
                and subsection_type=#{subsectionType}
            </if>
        </where>
    </select>
</mapper>
