<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasco.openhis.mapper.RevenueMapper">
    <resultMap id="IncomeBaseResultMap" type="com.dasco.openhis.domain.Income">
        <result property="payType" column="pay_type"/>
        <result property="orderAmount" column="order_amount"/>
    </resultMap>

    <resultMap id="RefundBaseResultMap" type="com.dasco.openhis.domain.Refund">
        <result property="backType" column="back_type"/>
        <result property="backAmount" column="back_amount"/>
    </resultMap>

    <sql id="income_Base_Column_List">
        pay_type,order_amount
    </sql>

    <sql id="refund_Base_Column_List">
        back_type,back_amount
    </sql>
    <select id="queryIncome" resultMap="IncomeBaseResultMap">
        select <include refid="income_Base_Column_List"></include>
        from his_order_charge
        <where>
            order_status = '1'
            <if test="revenue.queryDate != null and revenue.queryDate !=''">
                and date_format(create_time,'%y-%m-%d')=#{revenue.queryDate}
            </if>
            <if test="revenue.beginTime != null">
                and create_time >= #{revenue.beginTime}
            </if>
            <if test="revenue.endTime != null">
                and create_time <![CDATA[<=]]> #{revenue.endTime}
            </if>
        </where>
    </select>

    <!--查询退费-->
    <select id="queryRefund" resultMap="RefundBaseResultMap">
        select <include refid="refund_Base_Column_List"></include>
         from his_order_backfee
        <where>
            back_status = '1'
            <if test="revenue.queryDate != null and revenue.queryDate !=''">
                and date_format(create_time,'%y-%m-%d')=#{revenue.queryDate}
            </if>
            <if test="revenue.beginTime != null">
                and create_time >= #{revenue.beginTime}
            </if>
            <if test="revenue.endTime != null">
                and create_time <![CDATA[<=]]> #{revenue.endTime}
            </if>
        </where>
    </select>
</mapper>
